::ng-deep .body-content{
    display: flex;
    justify-content: center;
    /* align-items: center !important; */
    padding-top: 7%;
    /* background-color: white; */
    
}

h1{
    text-align: center;
    color: white; 
    background-color: yellowgreen; 
    margin-top: 3%;
}

/* .container{
    background-color: cornflowerblue;
} */

h1{
    color: black;
}

.submit-button{
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}

.input#file-upload-button{
    color: black;
}

.upload-button{
    cursor: pointer;
}
