input.ng-invalid{
    border-left: 5px solid lightsalmon;
    border-right: 5px solid lightsalmon;
}

input.ng-valid{
    border-left: 5px solid lightgreen;
    border-right: 5px solid lightgreen;
}

* {
    box-sizing: border-box;
  }

label{
    display: inline-block;
    color: whitesmoke;
    font-weight: bold;
    background-color: darkgreen;

}

h1{
    color: white;
}

::ng-deep h2{
    padding-left: 25%;
    /* text-align: center; */
}

::ng-deep .alert-alert-danger{
    font-size: 12px;
    color: red;
    font-weight: bold;
}

input{
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
}

.form-body{
    padding-left: 20%;
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    /* background-color: pink; */
    padding-bottom: 2%;
    padding-top: 0.5%;
    content: "";
    /* display: table; */
    clear: both;
}

/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

.btn-info{
    background-color: purple;
    border: none; 
    color: white;
    border-radius: 3px;
    cursor: pointer;

}

.display-4{
    display: flex;
    justify-content: center;
}

::ng-deep .reload-my-form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    flex-direction: column;
}

::ng-deep .load-my-form{
    background-color: white;
    border: none; 
    color: darkgreen;
    border-radius: 3px;
    cursor: pointer;
    height: 40%;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
